pipeline1_support_live/pipeline/pipeline1.json
{
    "name": "pipeline1",
    "properties": {
        "activities": [
            {
                "name": "LKP_last_load",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "Select * from water_table",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ls_azuresql_watermark",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "LKP_currentload",
                "type": "Lookup",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": "Select max(date_id) as max_date from source_car_sales",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "dataset": {
                        "referenceName": "ds_AzureSqlTable1",
                        "type": "DatasetReference"
                    },
                    "firstRowOnly": false
                }
            },
            {
                "name": "Copy_increm",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "LKP_last_load",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "LKP_currentload",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "AzureSqlSource",
                        "sqlReaderQuery": {
                            "value": "Select * from source_car_sales where date_id > '@{activity('LKP_last_load').output.value[0].last_load}' and date_id <= '@{activity('LKP_currentload').output.value[0].max_date}'",
                            "type": "Expression"
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "sink": {
                        "type": "ParquetSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "ParquetWriteSettings"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "ds_AzureSqlTable1",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "ds_adls_bronze",
                        "type": "DatasetReference"
                    }
                ]
            },
            {
                "name": "UpdateWaterMarkTable",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Copy_increm",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "storedProcedureName": "[dbo].[UpdateWaterMarkTable]",
                    "storedProcedureParameters": {
                        "lastload": {
                            "value": {
                                "value": "@activity('LKP_currentload').output.value[0].max_date",
                                "type": "Expression"
                            },
                            "type": "String"
                        }
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureSqlDatabase1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "Bronze_to_silver",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "UpdateWaterMarkTable",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/is610@live.mdx.ac.uk/bronze_to_silver"
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "gold_dim_branch",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze_to_silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/is610@live.mdx.ac.uk/gold_dim_branch",
                    "baseParameters": {
                        "incremental_load": "1"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "gold_dim_date",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze_to_silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/is610@live.mdx.ac.uk/gold_dim_date",
                    "baseParameters": {
                        "incremental_load": "1"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "gold_dim_dealer",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze_to_silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/is610@live.mdx.ac.uk/gold_dim_dealer",
                    "baseParameters": {
                        "incremental_load": "1"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "gold_dim_model",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "Bronze_to_silver",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/is610@live.mdx.ac.uk/gold_dim_model",
                    "baseParameters": {
                        "incremental_load": "1"
                    }
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            },
            {
                "name": "gold_fact_sales",
                "type": "DatabricksNotebook",
                "dependsOn": [
                    {
                        "activity": "gold_dim_branch",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "gold_dim_date",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "gold_dim_dealer",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "gold_dim_model",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "notebookPath": "/Users/is610@live.mdx.ac.uk/gold_fact_sales"
                },
                "linkedServiceName": {
                    "referenceName": "ls_AzureDatabricks1",
                    "type": "LinkedServiceReference"
                }
            }
        ],
        "annotations": [],
        "lastPublishTime": "2025-03-09T22:14:56Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}